<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expandable Floating Button</title>
    <link rel="stylesheet" href="../styles/floatingStyles.css">
</head>

<body>
    <button class="floating-button" id="search-floating-button">
        <input id="search-bar" type="text" placeholder="Search...">
    </button>
    <script src="../renderer/searchFbtn.js"></script>
</body>

</html>