<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 프로필</title>
    <link rel="stylesheet" href="../styles/usersStyle.css">
</head>

<body id="users-body">
    <div class="profile-qr-container">
        <!-- Close Button -->
        <div id="notificationArea"></div>
        <!-- <button id="close-button" aria-label="닫기"></button> -->

        <!-- 오른쪽 영역 (친구 목록) -->
        <div class="right-column">
            <!-- 친구 추가 영역 (모달 대신 페이지 내 표시) -->
            <div id="friend-add-section" style="display: none;">
                <div class="friend-modal-content">
                    <input type="text" class="search-input" id="new-friend-name" placeholder="친구 추가">
                    <br>
                    <input type="text" class="search-input" id="search-friend-name" placeholder="친구 검색">
                    <div id="searched-friends"></div>
                    <div id="error-message" style="color: red; display: none; margin-top: 10px;"></div>
                    <!-- 에러 메시지 영역 -->
                </div>
            </div>
            <div class="friends-list" id="friend-list-section" style="display: none;">
                <ul id="friends">
                    <!-- 여기에 친구 목록이 동적으로 추가됩니다 -->
                </ul>
            </div>
        </div>

        <!-- 세로 구분선 (가운데) -->
        <div class="vertical-line"></div>

        <!-- 왼쪽 영역 (사용자 정보, 친구목록, 친구검색) -->
        <div class="left-column">
            <div class="profile-row">
                <span id="username">조용한 미술관</span>
            </div>

            <div class="qr-row">
                <a href="#" id="qr-link"><b>QR 코드</b></a> 생성
            </div>
            <div id="qrCodeContainer"></div>
            <p id="timer" style="display: none;"></p>

            <!-- 친구 목록 및 검색 버튼 -->
            <div class="friends-container">
                <div class="friends-header">
                    <a href="#" id="add-friend-button">
                        <img src="../media/search.png" alt="친구 추가" style="width: 38px; height: 38px;">
                    </a>
                    <a href="#" id="toggle-friend-list">
                        <img src="../media/phonebook.png" alt="친구 목록" style="width: 38px; height: 38px;">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../renderer/config.js"></script>
    <script src="../renderer/getFriendList.js"></script>
    <script src="../renderer/users.js"></script>
    <script src="../renderer/addFriendModal.js"></script>
</body>

</html>