@font-face {
  font-family: 'MyCustomFont';
  src: url('../media/KakaoOTFRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

#users-body {
  display: flex;
  font-family: 'MyCustomFont', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  /* justify-content: center;*/
  -webkit-app-region: drag;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
  background-color: #FAFAFA;
  height: 100%;
  width: 100%;
}

/* 프로필 QR 코드 컨테이너 */
.profile-qr-container {
  display: flex;
  flex-direction: row;
  /* 가로로 정렬 */
  justify-content: flex-start;
  /* 왼쪽과 오른쪽을 나누어 정렬 */
  align-items: flex-start;
  /* 위쪽에 맞추기 */
  width: 100%;
  /* 전체 화면을 차지 */
  height: 100%;
  /* 전체 화면을 차지 */
  padding: 20px;
  background-color: #FAFAFA;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
}

/* 닫기 버튼 */
#close-button {
  background: url('../media/close-icon.png') no-repeat center center;
  background-size: 15px 15px;
  border: none;
  width: 20px;
  /* 버튼 크기 약간 키움 */
  height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

#close-user-button {
  background: url('../media/close-icon.png') no-repeat center center;
  background-size: 15px 15px;
  border: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  -webkit-app-region: no-drag;
  z-index: 999;
}

#close-user-button:hover {
  background: url(../media/close-icon-hover.png) no-repeat center center;
  background-size: 15px 15px;
}

/* 왼쪽 영역 (사용자 정보 및 QR 코드) */
.left-column {
  flex: 0 0 250px;
}

/* 호버 시 */
#close-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  /* 배경색 추가 */
}

/* 프로필 이미지와 사용자 이름 */
.profile-row {
  align-items: center;
  margin-top: 60px;
  margin-bottom: 10px;
}

#username {
  font-size: 35px;
  font-weight: bold;
  margin-right: 10px;
}

/* QR 코드와 타이머 */
.qr-row {
  margin-bottom: 20px;
  font-size: 16px;
}

#qr-link {
  color: #E48758;
  text-decoration: none;
  -webkit-app-region: no-drag;
}

#qrCodeContainer {
  text-align: center;
  margin-top: 10px;
}

#timer {
  text-align: center;
  font-size: 14px;
  color: #ce2222;
  margin: 0;
}

/* 오른쪽 열은 기본적으로 숨김 */
.right-column {
  visibility: hidden;
  opacity: 0;
  width: 40%;
  padding-left: 20px;
  position: absolute;
  top: 0;
  right: 0;
  transition: width 0.3s ease;
  /*, opacity 0.3s ease, visibility 0.3s ease*/
  /* 초기 상태에서 오른쪽 열은 숨김 */
  transform: translateX(-100%);
  /* 오른쪽으로 이동 */
  flex: 1;
  z-index: 998;
}

.right-column.active {
  visibility: visible;
  opacity: 1;
  width: 45%;
  height: 100%;
  transform: translateX(0);
}

/* 세로 구분선 */
.vertical-line {
  width: 1px;
  background-color: #ccc;
  height: 100vh;
  margin: 0;
  top: 0;
  left: 300px;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
}

.vertical-line.active {
  opacity: 1;
  /* 활성화 시 페이드 인 */
}

/* 친구 추가 및 검색 버튼 (QR 코드 아래) */
.friends-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* 버튼 간 간격 조정 */
  -webkit-app-region: no-drag;
}

.friends-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.friend-connection {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  /* 이름과 동그라미 사이 간격 */
  vertical-align: middle;
  background-color: #DDDDDD;
}

/* 접속 중일 때의 색상 */
.friend-connection:hover {
  background-color: #E48758;
}

#add-friend-button {
  color: #fff;
  border: none;
  bottom: 10px;
  padding: 20px 12px;
  border-radius: 10px;
  cursor: pointer;
}

#toggle-friend-list {
  color: #fff;
  border: none;
  bottom: 10px;
  padding: 20px 12px;
  border-radius: 10px;
  cursor: pointer;
}

#add-friend-button img:hover {
  content: url("../media/search-hover.png");
}

#toggle-friend-list img:hover {
  content: url("../media/phonebook-hover.png");
}

/* 친구 목록 */
#friends {
  overflow-y: auto;
  /* 세로 스크롤 가능 */
  list-style: none;
  padding: 0;
  -webkit-app-region: no-drag;
}

/* 스크롤바 스타일 */
#friends::-webkit-scrollbar {
  width: 8px;
  /* 스크롤바의 너비 */
}

#friends::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* 스크롤바 배경 */
}

#friends::-webkit-scrollbar-thumb {
  background: #888;
  /* 스크롤바의 색상 */
  border-radius: 4px;
  /* 스크롤바의 둥근 모서리 */
}

#friends::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* 마우스를 올렸을 때의 색상 */
}

/* 친구 검색 영역 */
#friend-add-section,
#friend-list-section {
  visibility: hidden;
  /* 기본적으로 숨김 */
  opacity: 0;
  /* 기본적으로 불투명하게 설정 */
  transform: translateX(100%);
  transition: transform 0.3s ease, visibility 0.3s ease, opacity 0.3s ease;
  /* visibility와 opacity의 전환 애니메이션 설정 */
}

#friend-add-section.active,
#friend-list-section.active {
  visibility: visible;
  /* 활성화되면 보이도록 설정 */
  opacity: 1;
  /* 불투명도 1로 설정 */
  transform: translateX(0);
}

.friend-modal-content {
  -webkit-app-region: no-drag;
}

#friend-list-section {
  display: flex;
  flex-direction: column;
  /* 수직 방향으로 요소 정렬 */
  justify-content: center;
  /* 세로 중앙 정렬 */
  height: 100vh;
  /* 화면 전체 높이 사용 */
}

/* 친구 목록 항목 스타일 */
.user-friend-item {
  position: relative;
  padding: 16px 10px;
  /* 좌우 패딩 제거 */
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.user-friend-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  /* 시작 지점을 조금 오른쪽으로 이동 */
  width: calc(100% - 20px);
  /* 좌우 간격을 통해 길이 조정 */
  border-bottom: 1px solid #ddd;
}

#friends li:last-child {
  border-bottom: none;
}

#friends li:first-child::before {
  width: calc(100% - 20px);
  border-top: 1px solid #ddd;
}

/*전송 목록 */
#friend-list-section2 {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

/* 초대 목록 섹션 */
.friends2-container {
  margin-top: 20px;
  -webkit-app-region: no-drag;
}

.friends2-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

/* 전송 목록 */
#friends2 {
  max-height: 150px;
  /* 원하는 높이로 조정 가능 */
  overflow-y: auto;
  /* 세로 스크롤 가능 */
  list-style: none;
  padding: 5px;
  margin-right: 10px;
}

#friends2::-webkit-scrollbar {
  width: 8px;
  /* 스크롤바의 너비 */
}

#friends2::-webkit-scrollbar-track {
  background: #F4EEE7;
  /* 스크롤바 배경 */
}

#friends2::-webkit-scrollbar-thumb {
  background: #FFDCB3;
  /* 스크롤바의 색상 */
  border-radius: 4px;
  /* 스크롤바의 둥근 모서리 */
}

#friends2::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* 마우스를 올렸을 때의 색상 */
}

#friends2 li:last-child {
  border-bottom: none;
}

/* 친구 목록 항목 스타일 */
.friend-item {
  position: relative;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

/*초대 목록 */
#invite-list-section {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

/* 초대 목록 섹션 */
.invites-container {
  margin-top: 20px;
  -webkit-app-region: no-drag;
}

.invites-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

/* 초대 목록 */
#invites {
  max-height: 150px;
  /* 원하는 높이로 조정 가능 */
  overflow-y: auto;
  /* 세로 스크롤 가능 */
  list-style: none;
  padding: 0;
  margin: 0;
}

#invites::-webkit-scrollbar {
  width: 8px;
  /* 스크롤바의 너비 */
}

#invites::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* 스크롤바 배경 */
}

#invites::-webkit-scrollbar-thumb {
  background: #888;
  /* 스크롤바의 색상 */
  border-radius: 4px;
  /* 스크롤바의 둥근 모서리 */
}

#invites::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* 마우스를 올렸을 때의 색상 */
}

#invites li:last-child {
  border-bottom: none;
}

/* 친구 목록 항목 스타일 */
.invite-item {
  position: relative;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

/*전송 목록 */
#friend-list-section2 {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

/* 초대 목록 섹션 */
.friends2-container {
  margin-top: 20px;
  -webkit-app-region: no-drag;
}

.friends2-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

/* 전송 목록 */
#friends2 {
  max-height: 150px;
  /* 원하는 높이로 조정 가능 */
  overflow-y: auto;
  /* 세로 스크롤 가능 */
  list-style: none;
  margin: 0;
}

#friends2::-webkit-scrollbar {
  width: 8px;
  /* 스크롤바의 너비 */
}

#friends2::-webkit-scrollbar-track {
  background: #F4EEE7;
  /* 스크롤바 배경 */
}

#friends2::-webkit-scrollbar-thumb {
  background: #FFDCB3;
  /* 스크롤바의 색상 */
  border-radius: 4px;
  /* 스크롤바의 둥근 모서리 */
}

#friends2::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* 마우스를 올렸을 때의 색상 */
}

#friends2 li:last-child {
  border-bottom: none;
}

/* 친구 목록 항목 스타일 */
.friend-item {
  position: relative;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

/* 버튼 기본 스타일 */
.friend-action-button {
  display: none;
  /* 기본적으로 숨김 */
  margin-left: 10px;
  color: #fff;
  border: none;
  /*padding: 4px 8px;*/
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

#remove-friend-button {
  background-color: transparent;
  margin-left: auto;
  border: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-right: 20px;
}

#remove-friend-button img {
  width: 15px;
  height: 15px;
}

#remove-friend-button img:hover {
  content: url("../media/trash-hover.png");
}

/* 친구 항목 호버 시 수정 버튼 표시 */
.user-friend-item:hover .friend-action-button {
  display: block;
  /* 호버 시 버튼 보이기 */
}

/* 전체 모달 배경 스타일 */
#friend-modal {
  display: none;
  /* 기본적으로 숨김 */
  position: fixed;
  /* 화면에 고정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 반투명 배경 */
  z-index: 1000;
  /* 다른 요소 위에 표시 */
}

.friend-modal-content2 {
  background-color: #F4EEE7;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-app-region: no-drag;
}

/* 이름 수정 가능 상태 */
.friend-name[contenteditable="true"] {
  /*border: 1px solid #007bff;*/
  border: none;
  border-radius: 4px;
}

/* 모달 닫기 버튼 (x) */
#friend-modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url('../media/close-icon1.png') no-repeat center center;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
}

/* 모달 닫기 버튼 호버시 */
#friend-modal-close-button:hover {
  background-color: #FAFAFA;
  /* 배경색 추가 */
}

/* 이름 수정 가능 상태에서 기본 포커스 스타일을 제거 */
.friend-name:focus {
  outline: none;
  /* 기본 포커스 테두리 제거 */
  /*border: 1px solid #000000;*/
  border: none;
  padding: none;
}

/* 수정 중일 때 버튼 숨기기 */
.friend-item:hover .friend-action-button.editing .user-friend-item:hover {
  display: none;
}

/* 친구 추가 영역 스타일 */
#friend-add-section {
  margin-top: 100px;
  margin-right: 10px;
  transform: translate(-50%, -50%);
  background-color: #FAFAFA;
}

#new-friend-name,
#search-friend-name {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* 친구 추가 입력창 스타일 */
.search-input {
  width: 200px;
  padding: 10px;
  margin-top: 50px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 13px;
  font-family: 'MyCustomFont', sans-serif;
  -webkit-app-region: no-drag;
}

/* 에러 메시지 스타일 */
#error-message {
  color: red;
  display: none;
  /* 기본적으로 숨김 */
  margin-top: 10px;
}

/* 모달 스타일 */
#invite-modal {
  display: none;
  /* 기본적으로 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 반투명 배경 */
  z-index: 1000;
  /* 다른 요소 위에 표시 */
}

/* 전체 모달 배경 스타일 */
#friend-modal {
  display: none;
  /* 기본적으로 숨김 */
  position: fixed;
  /* 화면에 고정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 반투명 배경 */
  z-index: 1000;
  /* 다른 요소 위에 표시 */
}

.friend-modal-content2 {
  background-color: #F4EEE7;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-app-region: no-drag;
}

/* 모달 콘텐츠 스타일 */
.invite-modal-content {
  background-color: #FAFAFA;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-app-region: no-drag;
}

/* 모달 닫기 버튼 (x) */
#friend-modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url('../media/close-icon.png') no-repeat center center;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
}

/* 모달 닫기 버튼 호버시 */
#friend-modal-close-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  /* 배경색 추가 */
}

/* 모달 닫기 버튼 (x) */
#invite-modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url('../media/close-icon.png') no-repeat center center;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
}

/* 모달 닫기 버튼 호버시 */
#invite-modal-close-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  /* 배경색 추가 */
}

/* 친구 창에서 뜨는 알림은 여기서*/
#notificationArea {
  position: fixed;
  top: 75%;
  /* 화면의 수직 하단 근처 */
  left: 50%;
  /* 화면의 수평 가운데 */
  transform: translate(-50%, 50%);
  /* 가운데 정렬 후 약간 아래로 이동 */
  background: whitesmoke;
  /* 밝은 색상으로 변경 */
  color: black;
  /* 검정텍스트 */
  padding: 15px;
  /* 여백을 약간 넓게 */
  border-radius: 12px;
  /* 모서리를 둥글게 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  /* 그림자 추가 */
  font-family: 'MyCustomFont', sans-serif;
  /* 깔끔한 글꼴 사용 */
  font-size: 14px;
  /* 적당한 글꼴 크기 */
  display: none;
  /* 기본적으로 숨김 */
  z-index: 1000;
  /* 다른 요소들 위에 위치 */
  max-width: 300px;
  /* 최대 너비 설정 */
  text-align: center;
  /* 텍스트 가운데 정렬 */
}