/* 전체 페이지 스타일 */
body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* 프로필 QR 코드 컨테이너 */
.profile-qr-container {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  -webkit-app-region: drag;
}

/* 닫기 버튼 */
#close-button {
  background: url('../media/close-icon.png') no-repeat center center;
  background-size: 15px 15px;
  border: none;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

/* 호버 시 */
#close-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  /* 배경색 추가 */
}

/* 프로필 이미지와 사용자 이름 */
.profile-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

#username {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

#copy-button {
  background: url('../media/copy.png') no-repeat center 5px;
  background-size: 15px 15px;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

/* 호버 시 */
#copy-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  /* 배경색 추가 */
}

/* QR 코드와 타이머 */
.qr-row {
  margin-bottom: 20px;
  font-size: 16px;
}

#qr-link {
  color: #007bff;
  text-decoration: none;
  -webkit-app-region: no-drag;
}

#qrCodeContainer {
  text-align: center;
}

#timer {
  text-align: center;
  font-size: 14px;
  color: #ce2222;
  margin: 0;
}

/* 친구 목록 섹션 */
.friends-container {
  margin-top: 20px;
  -webkit-app-region: no-drag;
}

.friends-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

/* 초대 목록 섹션 */
.invites-container {
  margin-top: 20px;
  -webkit-app-region: no-drag;
}

.invites-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}


#toggle-friend-list,
#add-friend-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

#toggle-friend-list:hover,
#add-friend-button:hover {
  background-color: #0056b3;
}

/* 친구 목록 */
#friend-list-section {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

/* 친구 목록 */
#friends {
  max-height: 150px;
  /* 원하는 높이로 조정 가능 */
  overflow-y: auto;
  /* 세로 스크롤 가능 */
  list-style: none;
  padding: 0;
  margin: 0;
}

/*초대 목록 */
#invite-list-section {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

/* 초대 목록 */
#invites {
  max-height: 150px;
  /* 원하는 높이로 조정 가능 */
  overflow-y: auto;
  /* 세로 스크롤 가능 */
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 스크롤바 스타일 */
#friends::-webkit-scrollbar {
  width: 8px;
  /* 스크롤바의 너비 */
}

#friends::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* 스크롤바 배경 */
}

#friends::-webkit-scrollbar-thumb {
  background: #888;
  /* 스크롤바의 색상 */
  border-radius: 4px;
  /* 스크롤바의 둥근 모서리 */
}

#friends::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* 마우스를 올렸을 때의 색상 */
}

#invites::-webkit-scrollbar {
  width: 8px;
  /* 스크롤바의 너비 */
}

#invites::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* 스크롤바 배경 */
}

#invites::-webkit-scrollbar-thumb {
  background: #888;
  /* 스크롤바의 색상 */
  border-radius: 4px;
  /* 스크롤바의 둥근 모서리 */
}

#invites::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* 마우스를 올렸을 때의 색상 */
}

#friend-search,
#new-friend-name {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#friends li:last-child {
  border-bottom: none;
}

/* 친구 목록 항목 스타일 */
.friend-item {
  position: relative;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

#invites li:last-child {
  border-bottom: none;
}

/* 친구 목록 항목 스타일 */
.invite-item {
  position: relative;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

/* 버튼 기본 스타일 */
.friend-action-button {
  display: none;
  /* 기본적으로 숨김 */
  margin-left: 10px;
  color: #fff;
  border: none;
  /*padding: 4px 8px;*/
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

#remove-friend-button {
  background-color: #ff2200;
}

#edit-friend-button {
  background-color: #5ebe22;
}

#kock-button {
  background-color:blue;
}

/* 친구 항목 호버 시 수정 버튼 표시 */
.friend-item:hover .friend-action-button {
  display: block;
  /* 호버 시 버튼 보이기 */
}

/* 이름 수정 가능 상태 */
.friend-name[contenteditable="true"] {
  /*border: 1px solid #007bff;*/
  border: none;
  border-radius: 4px;
}

/* 이름 수정 가능 상태에서 기본 포커스 스타일을 제거 */
.friend-name:focus {
  outline: none;
  /* 기본 포커스 테두리 제거 */
  /*border: 1px solid #000000;*/
  border: none;
  padding: none;
}

/* 수정 중일 때 버튼 숨기기 */
.friend-item:hover .friend-action-button.editing {
  display: none;
}


/* 전체 모달 배경 스타일 */
#friend-modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed; /* 화면에 고정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  z-index: 1000; /* 다른 요소 위에 표시 */
}

/* 모달 콘텐츠 스타일 */
.friend-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%; /* 너비 조정 가능 */
  max-width: 500px; /* 최대 너비 설정 */
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  
  position: fixed; /* 모달을 화면에 고정 */
  top: 50%; /* 화면의 세로 중앙 */
  left: 50%; /* 화면의 가로 중앙 */
  transform: translate(-50%, -50%); /* 중앙으로부터 자신의 절반만큼 이동하여 완전 중앙 배치 */

  -webkit-app-region: no-drag;
}

/* 모달 닫기 버튼 (x) */
#friend-modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url('../media/close-icon.png') no-repeat center center;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
}

/* 모달 닫기 버튼 호버시 */
#friend-modal-close-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  /* 배경색 추가 */
}

/* 모달 스타일 */
#invite-modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  z-index: 1000; /* 다른 요소 위에 표시 */
}

/* 모달 콘텐츠 스타일 */
.invite-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-app-region: no-drag;
}

/* 모달 닫기 버튼 (x) */
#invite-modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url('../media/close-icon.png') no-repeat center center;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
}

/* 모달 닫기 버튼 호버시 */
#invite-modal-close-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  /* 배경색 추가 */
}

/* 친구 창에서 뜨는 알림은 여기서*/
#notificationArea {
  position: fixed;
  top: 75%; /* 화면의 수직 하단 근처 */
  left: 50%; /* 화면의 수평 가운데 */
  transform: translate(-50%, 50%); /* 가운데 정렬 후 약간 아래로 이동 */
  background: whitesmoke; /* 밝은 색상으로 변경 */
  color: black; /* 검정텍스트 */
  padding: 15px; /* 여백을 약간 넓게 */
  border-radius: 12px; /* 모서리를 둥글게 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* 그림자 추가 */
  font-family: Arial, sans-serif; /* 깔끔한 글꼴 사용 */
  font-size: 14px; /* 적당한 글꼴 크기 */
  display: none; /* 기본적으로 숨김 */
  z-index: 1000; /* 다른 요소들 위에 위치 */
  max-width: 300px; /* 최대 너비 설정 */
  text-align: center; /* 텍스트 가운데 정렬 */
}